<?php

$finder = PhpCsFixer\Finder::create()
    ->path('command.php')
    ->path('src/')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
  ->setRules([
        '@PSR2' => true,
        'array_syntax' => [
        	'syntax' => 'short'
        ],
        'binary_operator_spaces' => [
        	'default' => 'align_single_space_minimal'
        ],
        'ordered_imports' => true,
        'trailing_comma_in_multiline_array' => true,
        'concat_space' => [
            'spacing' => 'one'
        ],
        'blank_line_before_statement' => true
  ])
  ->setFinder($finder)
;
